* {
  background-color: rgb(39, 39, 39);
}

.backgroundImagen {
  height: 100vh;
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
}

.characterPage {
  z-index: 1;
  background-color: #222a3ddc;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.characterCard {
  display: flex;
  flex-direction: column;
  background-image: url(../Images/Portal.png);
  background-color: #bfde42;
  z-index: 2;
  height: 72vh;
  width: 36vw;
  font-size: 1.5vw;
  font-weight: 800;
  color: white;
  align-items: center;
  justify-items: center;
  margin-top: 12vh;
  margin-left: 12vw;
  padding: 2%;
  border-radius: 50%;
  box-shadow: 0px 0px 40px 6px #bfde42;
  text-align: center;
}

.characterCard span {
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.characterCard p {
  margin: 1%;
  background-color: transparent;
  width: 100%;
}

.characterText {
  background-color: #42b3cab9;
  border-radius: 20vh;
  height: 35vh;
  width: 90%;
}

.navigationCharacters {
  background-color: transparent;
  display: grid;
  grid-template-columns: 42% 16% 42%;
  text-align: center;
  align-items: center;
  justify-items: center;
  margin-top: 4%;
  width: 85%;
}

.navigationCharacters a {
  font-style: none;
  text-decoration: none;
  font-size: 1.2vw;
  text-shadow: 2px 2px 2px #bfde42, -2px -2px 2px #bfde42, -2px 2px 2px #bfde42,
    2px -2px 2px #bfde42;
  -webkit-text-stroke: 1.5px #003e4b;
  color: #42b4ca;
  padding-bottom: 3%;
  background-color: #42b4ca;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 20px;
  box-shadow: -2px 4px 2px 1px #bfde42;
  border: solid 2px #bfde42;
}

.navigationCharacters a:hover {
  background-color: #236572;
  box-shadow: -2px 5px 10x 10px #bfde42;
  text-shadow: 2px 2px 2px #819728, -2px -2px 2px #819728, -2px 2px 2px #819728,
    2px -2px 2px #819728;
}
